@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body 
{
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    color: #555;
}

a
{
    color:black;
}

a:hover, a:focus
{
    color:black;
    text-decoration: none;
}

.header
{
    display:flex;
    text-align: center;
    background-color: #e9dad7;
    height: 200px;
    background-image: url(/img/foon.jpg);
   
}

.logo
{
    margin-left: 100px;
    width: 30%;
    margin-top: 15px;
}

.name
{
    width: 33%;
    margin-right: 40px;
    margin-top: 40px;
}

.time
{
    width: 32%;
    margin-left: 100px;
    margin-top: 50px;
}

.parname
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.container
{
    max-width: 1110px;
    color:black;
}

.cafe-item
{
    height: 357px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cafe-item01
{
    background-image: url(https://tayniymir.com/wp-content/uploads/2017/09/36i59c3d6d4205665.36544911.jpg);
    margin-right: 30px;
    margin-left: 30px;
}

.cafe-item02
{
    background-image: url(https://tayniymir.com/wp-content/uploads/2017/09/36i59c3d6d4205665.36544911.jpg);
    margin-right: 30px;
}

.cafe-item03
{
    background-image: url(/img/ovs.jpg);
    margin-right: 30px;
}

.cafe-item04
{
    background-image: url(/img/tost.jpg);
    margin-right: 30px;
    margin-left: 30px;
}

.cafe-item05
{
    background-image: url(avoc.jpg);
    margin-right: 30px;
}

.cafe-item06
{
    background-image: url(/img/sir.jpg);
    margin-right: 30px;
}

.cafe-item07
{
    background-image: url(/img/egg.jpg);
    margin-right: 30px;
    margin-left: 30px;
}

.cafe-item08
{
    background-image: url(/img/sirnik.jpeg);
    margin-right: 30px;
}

.cafe-item09
{
    background-image: url(/img/pan.webp);
    margin-right: 30px;
}

.price
{
    color:rgb(255, 255, 255);
    margin-bottom: 10px;;
}

.text-info
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 310px;
    width: 100%;
    background-color: black;
    margin-left: 0px;
    margin-top: 15px;;
}

.pr
{
    margin-top: 60px;
}

.tel-it
{
    text-align: center;
    margin-left: 20px;
}

.adress-it
{
    text-align: center;
    margin-left: 50px;
}

.container-add
{
    margin-top: 30px;
}
